extends layout

block content
  .vid
    canvas(style="display:none")
    video(autoplay, style="display:none;")
  script(type="text/javascript", src="javascripts/adapter.js")
  script(type="text/javascript", src="javascripts/main.js")
  script(type="text/javascript", src="javascripts/Vibrant.js")
