doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/color.css")
  body
    block content
    script(src="https://code.jquery.com/jquery-1.10.2.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/color.js")
