extends layout

block content
  h1= title
  p Add your section number to be part of the show
  div.row
    div.input-field.col.s12
      input(type="text" name="sectionnumber")#sectionnumber
      label(for="sectionnumber")
        Please Enter your Section Number

  button.btn#submitseat Sign In

  script(src="/javascripts/seat_detection.js")
