extends layout

block content
  h1= title
  p Join the Digital Wave
  div.row
    div.input-field.col.s12
      input(type="text" name="sectionnumber")#sectionnumber
      label(for="sectionnumber")
        Please Enter your Section Number
  div.row
    div.input-field.col.s12
      input(type="text" name="rownumber")#rownumber
      label(for="rownumber") Please Enter your Row Number
  .row
    .input-field.col.s12
      input(type="text" name="seatnumber")#seatnumber
      label(for="seatnumber") Please Enter your Seat Number

  button.btn#submitseat Sign In

  script(src="/javascripts/seat_detection.js")
