doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/materialize.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
    title= title
  body
    div.container
      block content
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/javascripts/materialize.js")
